body {
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 100%;
    color: #40514e;
}

a {
    color: #11999E;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0 20px 20px 20px;
}

a:hover {
    color: #EAF6F6;
    
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Oxygen', sans-serif;
    color: #11999E;
    margin: 0 auto 10px auto;
   
}

hr {
    color: #d2dddd;
    border-top: 0.375rem dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p {
    line-height: 1.5;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 50px;
}

.top-cloud {
   position: absolute; 
   right: 300px;
   top: 40px;
}

.bottom-cloud {
   position: absolute;
   left: 250px;
   bottom: 300px;
}

.profile {
    padding: 50px 0 0 0;
}

.profile p {
    margin: auto;
    width: 30%;
}

.profile img {
    border-radius: 50%;
    padding-bottom: 15px;
}

.skills h3 {
    margin-top: 10px;
}

.skill-row {
    max-width: 50%;
    margin: 80px auto 80px auto;
    text-align: left;
    
    
}

.pm-img {
    width: 25%;
   float: left;
   margin-right: 20px;
   
}

.webdev-img {
    width: 25%;
    float: right;
    margin-left: 20px;
    
}

.get-in-touch {
    margin-bottom: 30px;
}

.middle-container {
    margin: 100px auto 100px auto;
}

  

  .contact-me {
    margin: 0 auto 50px auto; 
    height: 200px;
  }



  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 30px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-link {
      color: #11999E;
      text-decoration: none;
  }

  .bottom-container {
    background-color: #66bfbf;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .bottom-container p {
      color: #EAF6F6;
      margin-bottom: 0%;
      font-size: 0.8rem;
      font-family: 'Oxygen', sans-serif;
  }

  .contact-msg {
    margin: auto;
    width: 30%;
}
